body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 10px;
  background-color: aliceblue;
  font-size: medium;
}

.has-error {
  border: dashed firebrick;
}
.validation-error {
  color: firebrick;
  font-size: small;
}
ul.todo-list {
  padding: 0;
  width: 100%;
}

ul.todo-list > li {
  list-style-type: none;
}

ul.todo-list > li > label {
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

ul.todo-list > li.item-status-completed > label {
  text-decoration: line-through;
}

.empty-state {
  padding: 10px 0;
  font-style: oblique;
}
